// REPEAT VARIABLES & MIXINS
@import "app/variables"; // Modify this for custom colors, font-sizes, etc
@import "app/mixins";

// BOOTSTRAP
@import 'app/bootstrap';
@import 'app/bootstrap/bootstrap-responsive';

// DEFAULT MODULES
@import "app/modules/base";

//@import "app/partials/header";
//@import "app/partials/footer";
//@import "app/partials/ie";

//// ENTYPO
//@import "app/entypo";

//@import "app/icomoon";

// RESPONSIVE
@import 'app/responsive';

// IE RELATED STUFF
@import 'app/ie';

/*GENERAL*/

html, body { height:100%; }

body {
  @include typeface;
  background-color: $turq;
  padding-right: 0 !important;
}

@font-face {
  font-family: 'Artbrush';
  src: url('../fonts/Artbrush.ttf');
}

h2{
  text-align: left;
  color: $turq;
  font-style: italic;
}
p, li {
  color: $brown;
  line-height: 22px;
  font-size: 16px;
  text-align: justify;
}

.container-narrow {
  margin: 0 auto;
  max-width: 800px ;
}

.btn-primary {
  background-color: $orange;
  background-image: none;
  color:$brown;
  text-shadow: none;
  box-shadow: none;
  border: none;
  @include border-radius(20px);
  &:hover,
  &:focus {
    background-color: $orange;
    background-image: none;
    color: $offwhite;
  }
}

.italic {
  font-style: italic;
}

.subTitle{
  font-weight: bold;
  font-size: 22px;
}


/*-----------------------------------------------------------------------------General Specific-----------------------------------------------------------------------------*/

.photoArea{
  padding: 100px 0;
  background-size: cover;
  width: 100%;
  height: auto;
  .cloudContainer {
    z-index: -1;
    .topArrow {
      border-bottom: 15px solid #FFFAF0;
      border-left: 32px solid rgba(0, 0, 0, 0);
      border-right: 32px solid rgba(0, 0, 0, 0);
      height: 0;
      margin: -15px 0 0 40px;
      position: absolute;
      width: 0;
    }
    .bottomArrow {
      border-top: 15px solid #FFFAF0;
      border-left: 32px solid rgba(0, 0, 0, 0);
      border-right: 32px solid rgba(0, 0, 0, 0);
      height: 0;
      margin: 0 0 0 40px;
      position: absolute;
      width: 0;
    }
  }
}

.photoBub {
  width: 320px !important;
  height: 320px;
  background: $orange;
  @include border-radius(50%);
  display: table-cell;
  vertical-align: middle;
  float: right;
  margin-top: 200px;
  p {
    text-align: center;
    margin-top: 28px;
  }
}

.talkCloud {
  background-color: $offwhite;
  padding:20px;
  @include border-radius(20px);
  margin-right: 15px;
}

.rightArrow {
  border-bottom: 32px solid transparent;
  border-left: 15px solid $offwhite;
  border-top: 32px solid transparent;
  margin-top:40px;
  height: 0;
  float: right;
  width: 0;
}

.girlArea {
  width: 100%;
  padding-top: 100px;
  .tuGirl{
    background: url("../img/teamupgirl01.png") no-repeat top center;
    background-size: auto 413px;
    height: 413px;
  }
}

.quoteArea {
  background-color: $orange;
  padding: 60px 0;
  p {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0;
  }
}

.textArea{
  padding: 100px 0;
}

p.asteriks {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}

/*NAVBAR*/

.navbar-inverse {
  .navbar-inner {
    background-color: $brown;
    background-image: none;
    border: none;
    .brand {
      background-image:url("../img/logoHeader.png");
      padding: 0;
      margin-left: 0;
      background-position: top;
    }
    .loginBtn {
      float: right;
      width: 140px;
      a {
        text-decoration: none;
      }
      button {
        padding: auto 10px;
        margin-top: 4px !important;
      }
    }
    .openVideoConversationModal {
      width: 260px;
      float: right;
      margin-right: 5px;
      button {
        margin-top: 4px;
        text-transform: none;
      }
    }
  }
}

.welcomeArrow {
  border-bottom: 15px solid #FFFAF0;
  border-left: 32px solid rgba(0, 0, 0, 0);
  border-right: 32px solid rgba(0, 0, 0, 0);
  height: 0;
  left: 50%;
  margin: -15px 0 0 -80px;
  position: absolute;
  width: 0;
}

.welcome {
  background-color: #FFFAF0;
  margin: 0 auto 280px;
  max-width: 380px;
  padding: 22px 22px 12px;
  @include border-radius(20px);
  .contactBtn {
    padding: 7px 0;
    button {
      width: 230px;
      margin: 0 auto;
    }
  }
  p {
    font-size: 22px;
    font-style: italic;
    line-height: 26px;
    text-align: center;
    span{
      color: $orange;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      line-height: 20px;
    }
  }
}

/*INTRO*/
.intro{
  .demonstration {
    position: fixed;
    top: 70px;
    right: 0;
    width: 204px;
    z-index: 9999;
    .welcomeArrow {
      @include rotate(-270deg);
      margin: 130px 0 0 60px;
      @include opacity(0.8);
    }
    .welcome {
      @include opacity(0.8);
      width: 130px;
      padding: 20px;
      p {
        font-size: 18px !important;
        a {
          &:hover, &:active, &:focus, &:visited {
            background-color: $white !important;
            right: 0 !important;;
            position: inherit !important;;
            padding: 0 !important;;
            margin-top: 0 !important;;
            border-radius: 0 !important;
          }
        }
      }
    }
  }
  .container-narrow {
    position: relative;
    margin-top: 50px;
    //margin-top:60px;
    padding: 60px 20px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 200;
    #heroLogo{
      background-image: url("../img/logo.png");
      width: 160px;
      height: 82px;
      margin: 0 auto 40px;
    }
  }
}


/*PRESENT PRODUCT 1*/

.presentProduct {
  background-color: $beige;
  width: 100%;
  //padding-bottom: 60px;
  img {
    margin: -260px 0 0px;
  }
  h2 {
    line-height: 36px;
  }
}

/*PRESENT PRODUCT 2*/

.presentProduct2 {
  overflow: hidden;
  .span5 {
    z-index: 2;
    .TTarrowTextArea {
      z-index: 3;
      position: absolute;
      bottom: 7%;
      left: 38%;
      .arrowBG {
        margin-left: 60px;
        background: url("../img/teamtelefoon/arrowSmall.png") no-repeat 46% 0;
        height: 70px;
        @include rotate(-105deg);
      }
    }
  }
  .span7 {
    z-index: 1;
  }
}


/*CONTACT*/

#contact {
  padding: 100px 0;
  h1 {
    color: $offwhite;
    text-transform: uppercase;
    text-align: center;
    font-size: 5em;
    margin-bottom: 100px;
    line-height: 60px;
  }
  .contactInfo {
    margin-bottom: 100px;
    p {
      color: #ffffff;
      margin-bottom: 20px;
    }
    .contactText {
      text-align: left;
      font-style: italic;
      span {
        font-weight: bold;
        font-style: normal;
      }
    }
    .contactIcon {
      font-size: 16px;
      margin-right: 10px;
    }
    a {
      color: #ffffff;
    }
    .skypeBtn {
      img {
        margin: 6px 20px 10px 0 !important;
        height: 21px;
        width: auto;
        padding: 0 !important;
        float:left;
      }
    }
  }
  .contactInput {
    @include border-radius(20px);
    margin-bottom: 20px;
    height: 40px;
    padding: 0 10px;
  }
  .contactTextarea {
    @include border-radius(20px);
    margin-bottom: 20px;
    padding: 10px;
    height: 160px;
  }
  .sendButton{
    clear: both;
    margin-left: 0;
  }
}

.contactTeamTelephone, .TTvideo {
  background: rgba(152,212,202,1);
  background: -moz-linear-gradient(top, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(152,212,202,1)), color-stop(100%, rgba(61,188,177,1)));
  background: -webkit-linear-gradient(top, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
  background: -o-linear-gradient(top, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
  background: -ms-linear-gradient(top, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
  background: linear-gradient(to bottom, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d4ca', endColorstr='#3dbcb1', GradientType=0 );
}

.TTvideo {
  h2 {
    color: $white;
  }
}


/*FOOTER*/

footer {
  padding: 1px 20px;
  background-color: $turq !important;
  p {
    background-color: $turq !important;
    text-align: center;
    color: $offwhite;
    span {
      margin-right: 20px;
    }
    a, a:hover, a:focus, a:active, a:visited {
      color: $offwhite;
    }
  }
}

#TUfooter {
  .contactBtn {
    text-align: center;
    padding: 10px 0;
    button {
      display: block;
      width: 200px;
      margin: 0 auto;
    }
  }
}

#footerTeamTelephone {
  background-color: $turqDark !important;
  p {
    background-color: $turqDark !important;
  }
  .contactBtn {
    text-align: center;
    padding: 10px 0;
    button {
      display: block;
      width: 200px;
      margin: 0 auto;
    }
  }
}





/*-----------------------------------------------------------------------------TeamUp-----------------------------------------------------------------------------*/




/*TU INTRO*/

#TUintro {
  a.TTlink, a:hover, a:focus, a:active, a:visited{
    background-color: $brown;
    color: $orange;
    right: 0;
    position: absolute;
    padding: 10px 20px;
    margin-top: -140px;
    @include border-radius(20px 0 0 20px);
    @include opacity(0.9);
    p {
      color: $orange;
      font-size: 18px;
      line-height: 26px;
      margin: 0;
      span.italic {
        font-style: italic;
      }
    }
  }
}


/*PRESENT PRODUCT*/

#TUpresentProduct {
  padding-bottom: 60px;
  a.photoBub {
    height: 180px;
    margin-top: -200px;
    position: absolute;
    width: 180px !important;
    font-weight: bold;
    padding-top: 6px;
    color: $brown;
  }
}



/*VIDEO AREA 1*/

#videoArea1 {
  padding: 100px 0;
  .videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  clear: both;
}

#videoCall {
  padding: 50px 0 20px 0;
  clear: both;
  .span12 {
    position: relative;
    .mobileBubble{
      position:absolute;
      z-index:1;
      text-align: center;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      padding: 10px;
      @include border-radius(50%);
      p {
        text-align: center;
      }
    }
    .bub1{
      top: 0;
      left: 11%;
      background-color: $orange;
      width: 120px!important;
      height: 120px;
      p {
        margin-top: 1px;
      }
    }
    .bub2{
      bottom: -2%;
      right: 17%;
      background-color: $brown;
      width: 110px!important;
      height: 110px;
      p {
        margin-top: 7px;
        color: $orange !important;
      }
    }
    .bub3{
      bottom: 66%;
      right: 7%;
      background-color: $orange;
      width: 140px!important;
      height: 140px;
      p {
        padding-top: 18px;
        color: $white !important;
      }
    }
  }
}



/*GIRL AREA 1*/

#girlArea1 {
  background-color: $beige;
  .tuGirl{
    margin-top: 30px;
  }
}



/*PHOTO AREA 1*/

#photoArea1 {
  background: url("../img/photo01.jpg") no-repeat top center;
  .cloudContainer {
    margin-top: 40px;
  }
}



/*DEVICE AREA 3*/

#deviceArea3 {
  background-color: $beige;
  width: 100%;
  padding-bottom: 100px;
  overflow: hidden ;
  .span4 {
    position: relative;
    img {
      margin: 100px 0 0px;
      height: auto;
    }
    .mobileBubble{
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      text-align: center;
      vertical-align: middle;
      float: left;
      margin-bottom: 5%;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      padding: 10px;
      @include border-radius(50%);
      p {
        text-align: center;
      }
    }
    .bub1{
      margin-top: 70%;
      margin-left: -20%;
      background-color: $orange;
      width: 80px !important;
      height: 80px;
      p {
        margin-top: 16px;
      }
    }
    .bub2{
      margin-top: 160%;
      margin-left: 54%;
      background-color: $turq;
      width: 60px !important;
      height: 60px;
      p {
        margin-top: 8px;
        color: $offwhite !important;
      }
    }
    .bub3{
      margin-top: 80%;
      margin-left: -10%;
      background-color: $brown;
      width: 100px !important;
      height: 100px;
      p {
        margin-top: 6px;
        color: $offwhite !important;
      }
    }
    .bub4{
      margin-top: 24%;
      margin-left: 70%;
      background-color: $turq;
      width: 100px !important;
      height: 100px;
      p {
        margin-top: 6px;
        color: $offwhite !important;
      }
    }
    .bub5{
      margin-top: 180%;
      margin-left: 50%;
      background-color: $orange;
      width: 130px !important;
      height: 130px;
      p {
        margin-top: 6px;
      }
    }
    .bub6{
      margin-top: 60%;
      margin-left: 70%;
      background-color: $orange;
      width: 90px !important;
      height: 90px;
      p {
        margin-top: 14px;
      }
    }
    .bub7{
      margin-top: 130%;
      margin-left: 80%;
      background-color: $brown;
      width: 80px !important;
      height: 80px;
      p {
        margin-top: 18px;
        color: $offwhite !important;
      }
    }
  }
}






/*-----------------------------------------------------------------------------TeamTelefoon-----------------------------------------------------------------------------*/

/* --DEFAULTS-- */

/* Arrow text area*/

.TTarrowTextArea {
  width: 120px;
  p {
    font-family: 'Artbrush';
    text-align: center;
  }
  .arrowBG {
    background: url("../img/teamtelefoon/arrowMedium.png") no-repeat 60% 0;
    height: 70px;
  }
}

.arrowBG.flipLeft {
  background-position: 75% 0;
  margin-left: 0;
  @include flip(-1);
}

.quoteBox {
  border-top: $turq solid 8px;
  border-radius: 0px;
  padding: 15px 20px;
  text-align: right;
  display: block;
  margin-top: 60px;
  background-color: $white;
  @include opacity(0.9 !important);
  .boxIcon {
    background-color: $turq;
    border-radius: 50%;
    display: table;
    height: 90px;
    margin: 0 auto;
    width: 90px;
    margin-top: -83px;
    span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      background: url("../img/teamtelefoon/quote02.png") no-repeat 50% 50%;
    }
  }
  .info {
    margin-top: 10px;
    p {
      color: $brown;
      font-weight: bold;
      font-style: italic;
      text-align: center;
    }
  }
}

/* --END DEFAULTS-- */

/* Navbar*/

#TTnavbar.navbar-inverse {
  .navbar-inner {
    background-color: $brown;
    background-image: none;
    border: none;
    .brand {
      background-image: url("../img/teamtelefoon/logoHeader.png");
      padding: 0;
      margin-left: 0;
      background-position: top;
    }
  }
}

/*TT INTRO*/



#TTintro.intro{
  background: rgba(61,188,177,1);
  background: -moz-linear-gradient(top, rgba(61,188,177,1) 0%, rgba(152,212,202,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,188,177,1)), color-stop(100%, rgba(152,212,202,1)));
  background: -webkit-linear-gradient(top, rgba(61,188,177,1) 0%, rgba(152,212,202,1) 100%);
  background: -o-linear-gradient(top, rgba(61,188,177,1) 0%, rgba(152,212,202,1) 100%);
  background: -ms-linear-gradient(top, rgba(61,188,177,1) 0%, rgba(152,212,202,1) 100%);
  background: linear-gradient(to bottom, rgba(61,188,177,1) 0%, rgba(152,212,202,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dbcb1', endColorstr='#98d4ca', GradientType=0 );
  .quoteBox {
    @include opacity(0.8);
    margin-top: 0;
    border-top: $turq solid 8px;
    border-bottom: $turq solid 8px;
    border-left: $turq solid 8px;
    position: fixed;
    width: 120px;
    top: 70px;
    z-index: 9999;
    right: 0;
    p {
      a {
        color: $turq;
      }
    }
  }
  .container-narrow {
    #heroLogoContainer {
      max-width: 372px;
      height: 82px;
      margin: 0 auto 360px;
      padding-bottom: 250px;
      #heroLogo {
        background-image: url("../img/teamtelefoon/logo.png");
        width: 100%;
      }
      .logo {
        margin-bottom: 15px;
      }
      .contactBtn {
        padding-top: 15px;
        button {
          margin: 0 auto;
          width: 215px;
        }
      }
      ul {
        list-style: none;
        li {
          position: absolute;
          z-index: 3;
          .TTarrowTextArea {
            .arrowBG {
              background: url("../img/teamtelefoon/arrowSmall.png") no-repeat 60% 0;
            }
          }
          &:first-child {
            top: 45%;
            left: -60px;
          }
          &:nth-child(2) {
            top: 33%;
            left: 115px;
          }
          &:nth-child(3) {
            top: 255px;
            left: 50%;
            .TTarrowTextArea {
              .arrowBG {
                background: url("../img/teamtelefoon/arrowMedium.png") no-repeat 44% 0;
                height: 135px;
              }
            }
          }
          &:nth-child(4) {
            top: 45%;
            right: 99px;
            .TTarrowTextArea {
              .arrowBG {
                margin-left: -103px;
                background: url("../img/teamtelefoon/arrowBig.png") no-repeat 100% 0;
                height: 250px;
                @include rotateFlip(58deg, -1);
                margin-top: 50px;
              }
            }
          }
          &:nth-child(5) {
            top: 50%;
            right: -30px
          }
          &:nth-child(6) {
            bottom: -320px;
            right: 120px;
            .TTarrowTextArea {
              top: 5%;
              right: 210px;
              .arrowBG {
                background: url("../img/teamtelefoon/arrowMedium.png") no-repeat 44% 0;
                @include rotateFlip(157deg, -1);
                background-position: 41% 0;
                height: 137px;
                margin-left: -110px;
              }
            }
          }
        }
      }
    }
    #introTeamMember{
      position: absolute;
      bottom: 0;
      left: 0;
    }
    #introClient{
      position: absolute;
      bottom: 0;
      right: 0;
    }
    #welcome {
      max-width: 220px;
    }
  }
}

#TTcloud {
  width: 100%;
  height: auto;
}

//#TTintroCloud {
//  background-color: $turqLight;
//  .container-narrow{
//    position: relative;
//  }
//}

#TTpresentProduct {
  //overflow: hidden;
  background-color: $offwhite;
  border-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  img {
    margin: -610px 0 100px 0;
  }
}

.TTmobile {
  background: url("../img/teamtelefoon/mobileChat02.png") no-repeat top center;
  background-size: auto 500px;
  height: 500px;
}

.TToldPhone {
  margin-bottom: 100px;
  background: url("../img/teamtelefoon/oldPhoneSmall.png") no-repeat top center;
  background-size: contain;
  height: 260px;
}

/*TT PHOTO TEXT AREA 1*/

.TTphotoTextArea {
  @include opacity(0.9);
  padding: 15px 25px;
  background: $orange;
  margin-bottom: 90px;
  h2 {
    color: $white;
  }
  p {
    color: $brown;
  }
}

/*TT PHOTO AREA 1*/


#TTphotoArea1 {
  background: url("../img/teamtelefoon/onBike.jpg") no-repeat top center;
  background-size: cover;
  .TTphotoTextArea {
    @include opacity(0.9);
    margin-top: 100px;
    padding: 15px 25px;
    background: $orange;
    h2 {
      color: $white;
    }
    p {
      color: $brown;
    }
  }
  .cloudContainer {
    margin-top: 40px;
  }
}


#TTavailabilityCheck {
  overflow: hidden;
  background-color: $offwhite;
  .container-narrow{
    position: relative;
    padding-top: 50px;
    .clientPhone{
      background-size: auto 413px;
      height: 413px;
      margin-top: -100px;
    }
    img {
      float: bottom;
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 100%;
    }
  }
  .TTarrowTextArea {
    position: absolute;
    z-index: 3;
    top: 25%;
    left: 167px;
    .arrowBG {
      background: url("../img/teamtelefoon/arrowSmall.png") no-repeat 60% 0;
    }
    &:first-child {
      top: 59%;
      left: -36px;
    }
  }
  .photoBub {
    width: 290px !important;
    height: 290px;
    margin-top: 0px;
    p {
      text-align: center;
      margin-top: 28px;
    }
  }
  .TTmobiles {
    margin-top: 130px;
  }

  .TTmobile {
    margin-right: -105px;
    background: url("../img/teamtelefoon/mobileChatAndDetail.png") no-repeat top center;
    background-size: auto 560px;
    height: 560px;
  }

  .span4 {
    .quoteBox {
      z-index: 2;
      margin-top: 60px;
      background-color: $orange;
      border-top-color: $brown;
      .boxIcon {
        background-color: $brown;
        height: 70px;
        width: 70px;
        margin-top: -70px;
        span {
          background-image: none;
          font-size: 32px;
          font-weight: bold;
        }
      }
      p {
        font-weight: normal;
        font-style: normal;
      }
    }
    .quoteBox {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
  .span3 {
    .quoteBox {
      font-weight: normal;
      font-style: normal;
      margin-top: 290px;
      background-color: $beige;
      z-index: 9;
    }
  }
}


#TTavailabilityCheck2 {
  padding-top: 100px;
  .noBg{
    h2, p, li {
      color: $offwhite;
    }
  }
  .talkCloud {
    background-color: $brown;
    h2 {
      color: $orange;
    }
    p, li {
      color: $offwhite;
    }
  }
}


#TTphotoArea2 {
  background: url("../img/teamtelefoon/inTramWithoutBrand.jpg") no-repeat center center;
  background-size: cover;
  background-color: $beige;
  .photoArea {

    .TTphotoTextArea {
      background-color: $brown;
      h2 {
        color: $orange;
      }
      p {
        color: $white;
      }
    }
  }
  .TTarrowTextArea {
    margin-top: 80px;
    p {
      color: $brown;
    }
  }
  //  h2 {
  //    color: $offwhite;
  //    margin: 240px 0 20px;
  //    text-align: right;
  //    display: inline-block;
  //  }
  //  .photoBub{
  //    float: left;
  //    width: 250px !important;
  //    height: 250px;
  //    margin:  0 0 400px;
  //  }
}


/*TT GIRL AREA 1*/

#TTgirlArea1 {
  .tuGirl{
    margin-top: 70px;
  }
}

.TTquotedArea{

}

/*TT BUBBLES*/
#TTbubbles {
  background-color: $offwhite;
  width: 100%;
  padding-bottom: 100px;
  overflow: hidden ;
  .span4 {
    position: relative;
    img {
      margin: 100px 0 0px;
      height: auto;
    }
    .mobileBubble{
      left:0px;
      top:0px;
      z-index:1;
      text-align: center;
      vertical-align: middle;
      float: left;
      margin-bottom: 5%;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      padding: 10px;
      @include border-radius(50%);
      p {
        text-align: center;
      }
    }
    .bub1{
      margin-top: 70%;
      margin-left: 0%;
      background-color: $orange;
      width: 90px !important;
      height: 90px;
      p {
        margin-top: 12px;
      }
    }
    .bub2{
      margin-top: 80%;
      margin-left: 30%;
      background-color: $turq;
      width: 110px !important;
      height: 110px;
      p {
        margin-top: 2px;
        color: $offwhite !important;
      }
    }
    .bub3{
      margin-top: 80%;
      margin-left: -10%;
      background-color: $brown;
      width: 110px !important;
      height: 110px;
      p {
        margin-top: 10px;
        color: $offwhite !important;
      }
    }
    .bub4{
      margin-top: 10%;
      margin-left: 70%;
      background-color: $turq;
      width: 100px !important;
      height: 100px;
      p {
        margin-top: 6px;
        color: $offwhite !important;
      }
    }
    .bub5{
      margin-top: 50%;
      margin-left: 50%;
      background-color: $orange;
      width: 110px !important;
      height: 110px;
      p {
        margin-top: 10px;
      }
    }
    .bub6{
      margin-top: 60%;
      margin-left: 50%;
      background-color: $orange;
      width: 120px !important;
      height: 120px;
      p {
        margin-top: 28px;
      }
    }
    .bub7{
      margin-top: 70%;
      margin-left: 55%;
      background-color: $brown;
      width: 90px !important;
      height: 90px;
      p {
        margin-top: 14px;
        color: $offwhite !important;
      }
    }
  }
}






/*-----------------------------------------------------------------------------Decentrale-----------------------------------------------------------------------------*/


/*DC INTRO*/

#DCintro.intro{
  .container-narrow {
    #welcome {
      max-width: 220px;
    }
  }
}

#DCpresentProduct {
  .photoBub {
    position: absolute;
    margin-top: -200px;
    width: 190px !important;
    height: 190px;
    p {
      font-weight: bold;
    }
  }
  img {
    margin: -260px 0 0px;
  }
}

/*DC PHOTO AREA 1*/

#DCphotoArea1 {
  background: url("../img/decentrale/photo01.jpg") no-repeat center left;
  background-size: cover;
  .cloudContainer {
    margin-bottom: 400px;
  }
}

#DCphotoArea2 {
  background: url("../img/decentrale/photo02.jpg") no-repeat bottom left;
  background-size: cover;
  h2 {
    color: $turq;
  }
  .photoBub.mobileBub {
    height: 290px;
    width: 290px !important;
    background: $beige;
    margin-top: 150px;
  }
  .photoBub.flexBub {
    height: 270px;
    width: 270px !important;
    background-color: $brown;
    margin-top: 50px;
    P {
      color: $beige !important;
    }
  }
}

#DCphotoArea3 {
  background: url("../img/decentrale/photo03.jpg") no-repeat center left;
  background-size: cover;
  .cloudContainer {
    margin-top: 200px;
  }
}


#DCtextArea1 {
  background-color: $beige;
  .noBg{
    h2, p, li {
      //color: $offwhite;
    }
  }
}

#DCtextArea2 {
  .noBg{
    h2, p, li {
      color: $offwhite;
    }
  }
  .talkCloud {
    background-color: $brown;
    .subTitle {
      color: $orange;
    }
    p, li {
      color: $offwhite;
    }
  }
  .textBlock {
    margin-top: 20px;
  }
}

#DCtextArea3 {
  background-color: $beige;
  .noBg{
    h2, p, li {
      //color: $offwhite;
    }
  }
}

#DCgirlArea1 {
  .talkCloud{
    li {
      text-align: left;
    }
    li.liMargin {
      margin-bottom: 20px;
    }
  }
  .tuGirl{
    margin-top: 110px;
  }
}





/*-----------------------------------------------------------------------------Responsive-----------------------------------------------------------------------------*/





@media (max-width: 979px) {
  body {padding: 0;}

  .container-narrow {
    padding: 0 20px;
  }

  .navbar-inner {
    padding: 0 10px !important;
  }

  #introTeamMember {
    img {
      max-height: 300px;
    }
  }

  #introClient {
    img {
      max-height: 270px;
    }
  }

  #TTpresentProduct img {
    margin: -520px 0 100px 0;
  }

  #mainPhone {
    img {
      max-height: 550px;
    }
  }

  #TTavailabilityCheck, #TTavailabilityCheck2 {
    h2 {
      word-break: break-all;
    }
  }

  .photoArea {
    background-position: top !important;
    h2, .photoBub {
      margin: 0 !important;
    }
  }

  #TTintro.intro .container-narrow {
    margin-top: 0;
  }

  .navbar-fixed-top {
    margin-bottom: 0;
  }
}


@media (min-width: 768px) {
  .floatRight {
    float: right !important;
    padding: 0 20px;
  }
}


@media (min-width: 768px) and (max-width: 979px) {
  .TTarrowTextArea {
    display: none;
  }

  #TTpresentProduct img {
    margin: -520px 0 100px 0;
  }

  #mainPhone {
    img {
      max-height: 700px;
    }
  }

  #TTavailabilityCheck {
    .TTmobile {
      margin-right: -140px;
    }
  }
}



@media (max-width: 767px) {


  #TUintro {
    .container-narrow {
      #welcome {
        margin: 0 auto 200px;
      }
    }
  }

  .presentProduct {
    img {
      margin: -200px 0 0;
    }
    .row-fluid {
      p {
        margin-bottom: 40px;
      }
    }
  }

  #TTphotoArea1 {
    .quoteBox {
      margin-top: 75px;
      border-top-color: $orange;
      .boxIcon {
        background-color: $orange;
      }
    }
  }

  .TToldPhone {
    margin: 40px 0 100px 0;
  }

  .TTarrowTextArea {
    display: none;
  }

  .girlArea {
    .rightArrow{
      display: none;
    }
  }

  #deviceArea3 {
    .container-narrow{
      .span4:not(:first-child) {
        img {
          margin: 20px 0 0;
        }
      }
      .bub1 {
        margin-top: 50%;
        margin-left: 0;
      }
      .bub5 {
        margin-top: 160%;
      }
      .bub7 {
        margin-left: 0;
      }
    }

  }

  #TTavailabilityCheck {
    .container-narrow {
      margin: 50px 0 70px 0;
      padding-top: 0;
      .TTmobiles {
        margin-top: 60px;
        .TTmobile {
          background-size: contain;
          margin-right: 0;
        }
      }
      .span3 {
        .quoteBox {
          margin-top: 0;
        }
      }
    }
  }

  .photoArea{
    background-size: contain !important;
    .topArrow, .bottomArrow {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  #videoConversationModal {
    width: 100% !important;
  }
  #nextBtn {
    text-indent: -9999em;
    background-image:url('../img/teamtelefoon/arrow-right-c.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 40px 40px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  #deviceArea3 {
    .container-narrow{
      padding: 0 100px;
    }
  }

  #TTavailabilityCheck {
    .container-narrow {
      .clientPhone {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 550px) {
  #videoCall {
    .span12 {
      .bub1 {
        top: 0%;
        left: 9%;
      }
      .bub2 {
        bottom: 0%;
        right: 8%;
      }
    }
  }

  #contactModal .contactInput {
    width: 95% !important;
  }
}

@media (max-width: 480px) {

  .talkCloud h2 {
    word-break: break-word;
  }

  #contactModal .contactInput {
    width: 93% !important;
  }

  #TUintro {
    .container-narrow {
      #welcome {
        margin: 0 auto 100px;
      }
    }
  }

  .presentProduct .row-fluid p {
    margin-bottom: 0;
  }

  .talkCloud{
    margin: 0 20px;
  }

  .presentProduct {
    img {
      margin: -100px 0 0;
    }
  }

  .TToldPhone {
    height: 190px;
  }

  #deviceArea3 {
    .container-narrow{
      .span4 {
        padding: 0 20px;
      }
      .bub5 {
        margin-top: 140%;
      }
    }
  }

  #TTpresentProduct img {
    margin: -220px 0 100px 0;
  }

  #mainPhone {
    img {
      max-height: 550px;
    }
  }

  #videoCall {
    padding: 70px 0 50px 0;
    .span12 {
      .bub1 {
        top: -30%;
        left: -10%;
      }
      .bub2 {
        bottom: -30%;
        right: -10%;
      }
    }
  }

  #TTintro.intro .container-narrow #heroLogoContainer {
    padding-bottom: 0;
  }

  .photoArea{
    background-size: 180% !important;
  }

  #contact {
    h1 {
      font-size: 55px;
    }
  }
}

/****** MODALSS *******/

//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
  padding-right: 0;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

#TTavailabilityCheck, #TTbubbles, #deviceArea3, .modal, .modal-open, .presentProduct2 {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    @include translate(0, -25%);
    @include transition-transform(0.3s ease-out);
  }
  &.in .modal-dialog { @include translate(0, 0) }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-backdrop.in {
  @include opacityImportant(.5);
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $modal-content-bg;
  border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
  border: 1px solid $modal-content-border-color;
  border-radius: $border-radius-large;
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;
  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity($modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: $modal-title-padding;
  border-bottom: 1px solid $modal-header-border-color;
  min-height: ($modal-title-padding + $modal-title-line-height);
}
// Close icon
.modal-header .close {
  margin-top: -2px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid $modal-footer-border-color;
  @include clearfix; // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: $screen-sm-min) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: $modal-md;
    margin: 30px auto;
  }
  .modal-content {
    @include box-shadow(0 5px 15px rgba(0,0,0,.5));
  }

  // Modal sizes
  .modal-sm { width: $modal-sm; }
}

@media (min-width: $screen-md-min) {
  .modal-lg { width: $modal-lg; }
}

#contactModal, #videoConversationModal {
  .modal-content {
    background: rgba(152,212,202,1);
    background: -moz-linear-gradient(top, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(152,212,202,1)), color-stop(100%, rgba(61,188,177,1)));
    background: -webkit-linear-gradient(top, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
    background: -o-linear-gradient(top, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
    background: -ms-linear-gradient(top, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
    background: linear-gradient(to bottom, rgba(152,212,202,1) 0%, rgba(61,188,177,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d4ca', endColorstr='#3dbcb1', GradientType=0 );
    .modal-header {
      border: none;
      .modal-title {
        font-size: 4em;
        color: #fffaf0;
        text-transform: uppercase;
        text-align: center;
      }
    }
    .modal-body {
      .contactInput {
        @include border-radius(20px);
        margin-bottom: 20px;
        height: 40px;
        padding: 0 10px;
        width: 97%;
      }
      .contactTextarea {
        @include border-radius(20px);
        margin-bottom: 20px;
        padding: 10px;
        height: 160px;
      }
      .sendButton{
        clear: both;
        margin-left: 0;
      }
      .contactText {
        text-align: left;
        font-style: italic;
        font-size: 14px;
        span {
          font-weight: bold;
          font-style: normal;
        }
      }
      .contactRadio {
        font-style: italic;
        color: #fff;
        font-size: 18px;
        margin: 0 auto 20px;
        max-width: 323px;
        label:first-child {
          margin-bottom: 5px;
        }
        label {
          text-transform: none;
        }
      }
      .contactTextarea {
        color: $brown;
        font-size: 15px;
      }
    }
    .modal-footer {
      border: none;
    }
  }
}

#videoConversationModal {
  .modal-header {
    .modal-title {
      font-size: 2em !important;
    }
  }
  .modal-body {
    overflow: hidden;
    height: 55px;
    label {
      text-transform: none;
      font-size: 16px;
    }
    #teamPhoneNumber {
      color: #fffaf0;
      position: relative;
      input {
        margin-bottom: 5px;
        width: 81%;
        @include border-top-right-radius(0px);
        @include border-bottom-right-radius(0px);
      }
      i {
        color: $red;
        font-size: 14px;
        display: none;
      }

      #nextBtn {
        position: absolute;
        bottom: 5px;
        right: 0px;
        width: 17%;
        @include border-top-left-radius(0px);
        @include border-bottom-left-radius(0px);
        padding: 11px 15px 11px 14px;
      }
    }
    #nameUser {
      color: #fffaf0;
      font-style: italic;
      display: none;
    }
  }
  .modal-footer {
    padding: 0 15px 15px 15px;
    .contactText {
      text-align: left;
      font-style: italic;
      font-size: 14px;
    }
    #nextVideoCoversationBtn {
      display: none;
      a {
        text-decoration: none;
      }
    }
    
  }
}

.contactModalTU .modal-content {
  background: $turq !important;
}

//** Datepicker

.datetimepicker  {
  background-color: $white;
  position: absolute;
  left: 76.5px;
  z-index: 1060;
  top: 432px;
  display: none;
  color: $brown;
}

.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active  {
  background-image: -webkit-linear-gradient(top, #96d4ca,#3ebdb2) !important;
  background-image: -webkit-linear-gradient(top, #96d4ca,#3ebdb2) !important;
  background-image: -moz-linear-gradient(top, #96d4ca,#3ebdb2) !important;
}

.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
  background-image: -webkit-linear-gradient(top, #96d4ca,#3ebdb2) !important;
  background-image: -moz-linear-gradient(top, #96d4ca,#3ebdb2) !important;
  background-image: -o-linear-gradient(top, #96d4ca,#3ebdb2) !important;
}

.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
  @include gradientButton('top', #96d4ca, #3ebdb2);
}

.datetimepicker td, .datetimepicker th .modal, .modal-open,{
  line-height: 19px;
}

.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
  background-image: -webkit-linear-gradient(top, #96d4ca,#3ebdb2) !important;
  background-image: -webkit-linear-gradient(top, #96d4ca,#3ebdb2) !important;
  background-image: -moz-linear-gradient(top, #96d4ca,#3ebdb2) !important;
}

.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
  background-image: -webkit-linear-gradient(top, #96d4ca,#3ebdb2) !important;
  background-image: -moz-linear-gradient(top, #96d4ca,#3ebdb2) !important;
  background-image: -o-linear-gradient(top, #96d4ca,#3ebdb2) !important;
}


//.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active,
//.datetimepicker table tr td.disabled.active:active,
//.datetimepicker table tr td.disabled.active:hover:active,
//.datetimepicker table tr td.active.active,
//.datetimepicker table tr td.active.active:hover,
//.datetimepicker table tr td.active.disabled.active,
//.datetimepicker table tr td.active.disabled.active:hover {
//  background-color: #3ebdb2 !important;
//}

//** FADE
.fade {
  opacity: 0;
  @include transition(opacity .15s linear);
  &.in {
    opacity: 1;
  }
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

.collapse {
  display: none;

  &.in      { display: block; }
  // [converter] extracted tr&.in to tr.collapse.in
  // [converter] extracted tbody&.in to tbody.collapse.in
}

tr.collapse.in    { display: table-row; }

tbody.collapse.in { display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  @include transition-property(height, visibility);
  @include transition-duration(.35s);
  @include transition-timing-function(ease);
}

//** ALERT
.alertContact {
  position: absolute;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  width: calc(95% - 32px);
}

//pulse animation info buttons
.pulse {
  animation-name: pulse_animation;
  animation-duration: 8000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% { transform: scale(1); }
  30% { transform: scale(1); }
  40% { transform: scale(1.08); }
  50% { transform: scale(1); }
  60% { transform: scale(1); }
  70% { transform: scale(1.05); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-size: 17.5px;
}

.corner-ribbon.green {
  background: #f5a962;
  a {
    color: #833c11;

  }
}
.title-Vacatures{
  color: #1dc8b6;
  font-size: 30px;
  text-align: center;
}
.vacatures-item{
  a
  {
    color: $white;
    font-size: 25px;
    text-align: center;
  }
}
.vacature-content{
  color: rgba(0,0,0,0.7);
  padding: 2rem;
}
.header-box{
    @include opacity(0.9);
    margin-top: 40px;
    margin-left: 500px;
    margin-right: 500px;
    align: center;
    padding: 15px 25px;
    background: $orange;
    h2 {
      color: $white;
    }
    p {
      color: $brown;
    }

}