// CSS normalize.css reset
// @import "modules/normalize";

// See modules/_base.scss
@import "../promo/css/modules/_base";
@import "../promo/css/modules/_mixins";
@import "../promo/css/modules/_normalize";
@import "../promo/css/modules/_variables";
/*@import "modules/navbar";*/

@import "../promo/css/partials/_header";
@import "../promo/css/partials/_footer";
@import "../promo/css/partials/_ie";




/*GENERAL*/

html, body { height:100%; }

body {
    @include typeface;
    background-color: $turq;
    font-family: "Myriad Pro", 'PT Sans', arial, helvetica, sans-serif;
}

h2{
  text-align: left;
  color: $turq;
  font-style: italic;
}
p, li {
  color: $brown;
  line-height: 22px;
  font-size: 16px;
  text-align: justify;
}

.container-narrow {
  margin: 0 auto;
  max-width: 800px ;
}

.btn-primary {
  background-color: $orange;
  background-image: none;
  color:$brown;
  text-shadow: none;
  box-shadow: none;
  border: none;
  @include border-radius(20px);
  &:hover,
  &:focus {
    background-color: $orange;
    background-image: none;
    color: $offwhite;
  }
}

.italic {
  font-style: italic;
}

.subTitle{
  font-weight: bold;
  font-size: 22px;
}



/*-----------------------------------------------------------------------------General Specific-----------------------------------------------------------------------------*/




.photoArea{
  padding: 100px 0;
  background-size: cover;
  width: 100%;
  height: auto;
  .cloudContainer {
    z-index: -1;
    .topArrow {
      border-bottom: 15px solid #FFFAF0;
      border-left: 32px solid rgba(0, 0, 0, 0);
      border-right: 32px solid rgba(0, 0, 0, 0);
      height: 0;
      margin: -15px 0 0 40px;
      position: absolute;
      width: 0;
    }
    .bottomArrow {
      border-top: 15px solid #FFFAF0;
      border-left: 32px solid rgba(0, 0, 0, 0);
      border-right: 32px solid rgba(0, 0, 0, 0);
      height: 0;
      margin: 0 0 0 40px;
      position: absolute;
      width: 0;
    }
  }
}

.photoBub {
  width: 320px !important;
  height: 320px;
  background: $orange;
  @include border-radius(50%);
  display: table-cell;
  vertical-align: middle;
  float: right;
  margin-top: 200px;
  p {
    text-align: center;
    margin-top: 28px;
  }
}

.talkCloud {
  background-color: $offwhite;
  padding:20px;
  @include border-radius(20px);
  margin-right: 15px;
}

.rightArrow {
  border-bottom: 32px solid transparent;
  border-left: 15px solid $offwhite;
  border-top: 32px solid transparent;
  margin-top:40px;
  height: 0;
  float: right;
  width: 0;
}

.girlArea {
  width: 100%;
  padding-top: 100px;
  .tuGirl{
    background: url("../img/teamupgirl01.png") no-repeat top center;
    background-size: auto 413px;
    height: 413px;
  }
}

.quoteArea {
  background-color: $orange;
  padding: 60px 0;
  p {
    text-align: center;
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0;
  }
}

.textArea{
  padding: 100px 0;
}

p.asteriks {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}




/*NAVBAR*/

.navbar-inverse {
  .navbar-inner {
    background-color: $brown;
    background-image: none;
    border: none;
    .brand {
      padding: 0;
      margin-left: 0;
      background-position: top;
    }
    .loginBtn {
      float: right !important;
      width: 140px;
      a {
        text-decoration: none;
      }
      button {
        padding: auto 10px;
        margin-top: 4px !important;
      }
    }
  }
}




/*INTRO*/

.intro{
  .container-narrow {
    position: relative;
    margin-top:60px;
    padding: 60px 20px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 200;
    #heroLogo{
      background-image: url("../img/logo.png");
      width: 160px;
      height: 82px;
      margin: 0 auto 40px;
    }
    #welcomeArrow {
      border-bottom: 15px solid #FFFAF0;
      border-left: 32px solid rgba(0, 0, 0, 0);
      border-right: 32px solid rgba(0, 0, 0, 0);
      height: 0;
      left: 50%;
      margin: -15px 0 0 -80px;
      position: absolute;
      width: 0;
    }
    #welcome {
      background-color: #FFFAF0;
      margin: 0 auto 280px;
      max-width: 300px;
      padding: 22px 22px 6px;
      @include border-radius(20px);
      p {
        font-size: 22px;
        font-style: italic;
        line-height: 26px;
        text-align: center;
        span{
          color: $orange;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          line-height: 20px;
        }
      }
    }
  }
}


/*PRESENT PRODUCT 1*/

.presentProduct {
  background-color: $beige;
  width: 100%;
  padding-bottom: 60px;
  img {
    margin: -260px 0 0px;
  }
  h2 {
    line-height: 36px;
  }
}



/*CONTACT*/

#contact {
  margin: 100px 0;
  h1 {
    color: $offwhite;
    text-transform: uppercase;
    text-align: center;
    font-size: 5em;
    margin-bottom: 100px;
    line-height: 60px;
  }
  .contactInfo {
    margin-bottom: 100px;
    p {
      color: #ffffff;
      margin-bottom: 20px;
    }
    .contactText {
      text-align: left;
      font-style: italic;
      span {
        font-weight: bold;
        font-style: normal;
      }
    }
    .contactIcon {
      font-size: 16px;
      margin-right: 10px;
    }
    a {
      color: #ffffff;
    }
    .skypeBtn {
      img {
        margin: 6px 20px 10px 0 !important;
        height: 21px;
        width: auto;
        padding: 0 !important;
        float:left;
      }
    }
  }
  .contactInput {
    @include border-radius(20px);
    margin-bottom: 20px;
    height: 40px;
    padding: 0 10px;
  }
  .contactTextarea {
    @include border-radius(20px);
    margin-bottom: 20px;
    padding: 10px;
    height: 160px;
  }
  .sendButton{
    clear: both;
    margin-left: 0;
  }
}




/*FOOTER*/

footer {
  padding: 0 20px;
  p {
    text-align: center;
    color: $offwhite;
    span {
      margin-right: 20px;
    }
    a, a:hover, a:focus, a:active {
      color: $offwhite;
    }
  }
}



/*-----------------------------------------------------------------------------TeamUp-----------------------------------------------------------------------------*/




/*PRESENT PRODUCT*/

#TUpresentProduct {

}



/*VIDEO AREA 1*/

#videoArea1 {
  padding: 100px 0;
  .videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  clear: both;
}



/*GIRL AREA 1*/

#girlArea1 {
  background-color: $beige;
  .tuGirl{
    margin-top: 30px;
  }
}



/*PHOTO AREA 1*/

#photoArea1 {
  background: url("../img/photo01.jpg") no-repeat top center;
  .cloudContainer {
    margin-top: 40px;
  }
}



/*DEVICE AREA 3*/

#deviceArea3 {
  background-color: $beige;
  width: 100%;
  padding-bottom: 100px;
    overflow: hidden ;
  .span4 {
    position: relative;
    img {
      margin: 100px 0 0px;
      height: auto;
    }
    .mobileBubble{
      position:absolute;
      left:0px;
      top:0px;
      z-index:1;
      text-align: center;
      vertical-align: middle;
      float: left;
      margin-bottom: 5%;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      padding: 10px;
      @include border-radius(50%);
      p {
        text-align: center;
      }
    }
    .bub1{
      margin-top: 70%;
      margin-left: -20%;
      background-color: $orange;
      width: 80px !important;
      height: 80px;
      p {
        margin-top: 16px;
      }
    }
    .bub2{
      margin-top: 160%;
      margin-left: 54%;
      background-color: $turq;
      width: 60px !important;
      height: 60px;
      p {
        margin-top: 8px;
        color: $offwhite !important;
      }
    }
    .bub3{
      margin-top: 80%;
      margin-left: -10%;
      background-color: $brown;
      width: 100px !important;
      height: 100px;
      p {
        margin-top: 6px;
        color: $offwhite !important;
      }
    }
    .bub4{
      margin-top: 24%;
      margin-left: 70%;
      background-color: $turq;
      width: 100px !important;
      height: 100px;
      p {
        margin-top: 6px;
        color: $offwhite !important;
      }
    }
    .bub5{
      margin-top: 180%;
      margin-left: 50%;
      background-color: $orange;
      width: 130px !important;
      height: 130px;
      p {
        margin-top: 6px;
      }
    }
    .bub6{
      margin-top: 60%;
      margin-left: 70%;
      background-color: $orange;
      width: 90px !important;
      height: 90px;
      p {
        margin-top: 14px;
      }
    }
    .bub7{
      margin-top: 130%;
      margin-left: 80%;
      background-color: $brown;
      width: 80px !important;
      height: 80px;
      p {
        margin-top: 18px;
        color: $offwhite !important;
      }
    }
  }
}






/*-----------------------------------------------------------------------------TeamTelefoon-----------------------------------------------------------------------------*/


/*TT INTRO*/

#TTintro.intro{
  .container-narrow {
    #welcome {
      max-width: 220px;
    }
    #introTeamMember{
      position: absolute;
      bottom: 0;
      left: 0;
    }
    #introClient{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}



#TTpresentProduct {
  position: relative;
  text-align: center;
  img {
    margin-top: -100px;
  }
}



/*TT PHOTO AREA 1*/


#TTphotoArea1 {
  background: url("../img/teamtelefoon/onBike.jpg") no-repeat top center;
  background-size: cover;
  .photoBub {
    margin-top: 100px;
    background: $brown;
    p {
      color: $offwhite;
    }
  }
  .cloudContainer {
    margin-top: 40px;
  }
}


#TTavailabilityCheck {
  background-color: $beige;
  .container-narrow{
    position: relative;
    padding-top: 100px;
    .clientPhone{
      background-size: auto 413px;
      height: 413px;
      margin-top: -100px;
    }
    img {
      float: bottom;
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 100%;
    }
  }
  .photoBub {
    width: 290px !important;
    height: 290px;
    margin-top: 0px;
    p {
      text-align: center;
      margin-top: 28px;
    }
  }
}


#TTavailabilityCheck2 {
  padding-top: 100px;
  .noBg{
    h2, p, li {
      color: $offwhite;
    }
  }
  .talkCloud {
    background-color: $brown;
    h2 {
      color: $orange;
    }
    p, li {
      color: $offwhite;
    }
  }
}


#TTphotoArea2 {
  background: url("../img/teamtelefoon/inTram.jpg") no-repeat center center;
  background-size: cover;
  background-color: $beige;
  h2 {
    color: $offwhite;
    margin: 240px 0 20px;
    text-align: right;
    display: inline-block;
  }
  .photoBub{
    float: left;
    width: 250px !important;
    height: 250px;
    margin:  0 0 400px;
  }
}


/*TT GIRL AREA 1*/

#TTgirlArea1 {
  .tuGirl{
    margin-top: 70px;
  }
}



/*TT BUBBLES*/

#TTbubbles {
  background-color: $beige;
  width: 100%;
  padding-bottom: 100px;
  overflow: hidden ;
  .span4 {
    position: relative;
    img {
      margin: 100px 0 0px;
      height: auto;
    }
    .mobileBubble{
      left:0px;
      top:0px;
      z-index:1;
      text-align: center;
      vertical-align: middle;
      float: left;
      margin-bottom: 5%;
      word-wrap: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;
      padding: 10px;
      @include border-radius(50%);
      p {
        text-align: center;
      }
    }
    .bub1{
      margin-top: 70%;
      margin-left: 0%;
      background-color: $orange;
      width: 90px !important;
      height: 90px;
      p {
        margin-top: 12px;
      }
    }
    .bub2{
      margin-top: 80%;
      margin-left: 30%;
      background-color: $turq;
      width: 110px !important;
      height: 110px;
      p {
        margin-top: 2px;
        color: $offwhite !important;
      }
    }
    .bub3{
      margin-top: 80%;
      margin-left: -10%;
      background-color: $brown;
      width: 110px !important;
      height: 110px;
      p {
        margin-top: 10px;
        color: $offwhite !important;
      }
    }
    .bub4{
      margin-top: 10%;
      margin-left: 70%;
      background-color: $turq;
      width: 100px !important;
      height: 100px;
      p {
        margin-top: 6px;
        color: $offwhite !important;
      }
    }
    .bub5{
      margin-top: 50%;
      margin-left: 50%;
      background-color: $orange;
      width: 110px !important;
      height: 110px;
      p {
        margin-top: 10px;
      }
    }
    .bub6{
      margin-top: 60%;
      margin-left: 50%;
      background-color: $orange;
      width: 120px !important;
      height: 120px;
      p {
        margin-top: 28px;
      }
    }
    .bub7{
      margin-top: 70%;
      margin-left: 55%;
      background-color: $brown;
      width: 90px !important;
      height: 90px;
      p {
        margin-top: 14px;
        color: $offwhite !important;
      }
    }
  }
}






/*-----------------------------------------------------------------------------Decentrale-----------------------------------------------------------------------------*/


/*DC INTRO*/

#DCintro.intro{
  .container-narrow {
    #welcome {
      max-width: 220px;
    }
  }
}

#DCpresentProduct {
  .photoBub {
    position: absolute;
    margin-top: -200px;
    width: 190px !important;
    height: 190px;
    p {
      font-weight: bold;
    }
  }
  img {
    margin: -260px 0 0px;
  }
}

/*DC PHOTO AREA 1*/

#DCphotoArea1 {
  background: url("../img/decentrale/photo01.jpg") no-repeat center left;
  background-size: cover;
  .cloudContainer {
    margin-bottom: 400px;
  }
}

#DCphotoArea2 {
  background: url("../img/decentrale/photo02.jpg") no-repeat bottom left;
  background-size: cover;
  h2 {
    color: $turq;
  }
  .photoBub.mobileBub {
    height: 290px;
    width: 290px !important;
    background: $beige;
    margin-top: 150px;
  }
  .photoBub.flexBub {
    height: 270px;
    width: 270px !important;
    background-color: $brown;
    margin-top: 50px;
    P {
      color: $beige !important;
    }
  }
}

#DCphotoArea3 {
  background: url("../img/decentrale/photo03.jpg") no-repeat center left;
  background-size: cover;
  .cloudContainer {
    margin-top: 200px;
  }
}


#DCtextArea1 {
  background-color: $beige;
  .noBg{
    h2, p, li {
      //color: $offwhite;
    }
  }
}

#DCtextArea2 {
  .noBg{
    h2, p, li {
      color: $offwhite;
    }
  }
  .talkCloud {
    background-color: $brown;
    .subTitle {
      color: $orange;
    }
    p, li {
      color: $offwhite;
    }
  }
  .textBlock {
    margin-top: 20px;
  }
}

#DCtextArea3 {
  background-color: $beige;
  .noBg{
    h2, p, li {
      //color: $offwhite;
    }
  }
}

#DCgirlArea1 {
  .talkCloud{
    li {
      text-align: left;
    }
    li.liMargin {
      margin-bottom: 20px;
    }
  }
  .tuGirl{
    margin-top: 110px;
  }
}





/*-----------------------------------------------------------------------------Responsive-----------------------------------------------------------------------------*/





@media (max-width: 979px) {
  body {padding: 0;}

  .container-narrow {
    padding: 0 20px;
  }

  .navbar-inner {
    padding: 0 10px !important;
  }

  #introTeamMember {
    img {
      max-height: 300px;
    }
  }
  
  #introClient {
    img {
      max-height: 270px;
    }
  }

  #TTavailabilityCheck, #TTavailabilityCheck2 {
    h2 {
      word-break: break-all;
    }
  }

  .photoArea {
    background-position: top !important;
    h2, .photoBub {
      margin: 0 !important;
    }
  }

}



@media (min-width: 768px) and (max-width: 979px) {
}



@media (max-width: 767px) {

  #TUintro {
    .container-narrow {
      #welcome {
        margin: 0 auto 200px;
      }
    }
  }

  .presentProduct {
    img {
      margin: -200px 0 0;
    }
    .row-fluid {
      p {
        margin-bottom: 40px;
      }
    }
  }

  .girlArea {
    .rightArrow{
      display: none;
    }
  }

  #deviceArea3 {
    .container-narrow{
      .span4:not(:first-child) {
        img {
          margin: 20px 0 0;
        }
      }
      .bub1 {
        margin-top: 50%;
        margin-left: 0;
      }
      .bub5 {
        margin-top: 160%;
      }
      .bub7 {
        margin-left: 0;
      }
    }

  }

  .photoArea{
    background-size: contain !important;
    .topArrow, .bottomArrow {
      display: none;
    }
  }

}



@media (min-width: 481px) and (max-width: 767px){
  #deviceArea3 {
    .container-narrow{
      padding: 0 100px;
    }
  }

  #TTavailabilityCheck {
    .container-narrow {
      .clientPhone {
        margin-top: 0;
      }
    }
  }
}



@media (max-width: 480px) {

  #TUintro {
    .container-narrow {
      #welcome {
        margin: 0 auto 100px;
      }
    }
  }

  .talkCloud{
    margin: 0 20px;
  }

  .presentProduct {
    img {
      margin: -100px 0 0;
    }
  }

  #deviceArea3 {
    .container-narrow{
      .span4 {
        padding: 0 20px;
      }
      .bub5 {
        margin-top: 140%;
      }
    }
  }


  .photoArea{
    background-size: 180% !important;
  }
}



